<!DOCTYPE html> 
<html>
    <head>
        <title>Admin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    
    <body>

        <div class="jumbotron card" style="padding: 70px; margin: 150px;">
            <form action="/admin" method="POST">
                <div class="form-group">
                    <label>Admin Id : </label>
                    <input type="text" placeholder="admin id" name="adminId" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Security Password : </label>
                    <input type="password" placeholder="password" name="password" class="form-control" required>
                </div>
                <input type="submit" value="Proceed" class="btn btn-success">
            </form>
        </div>

    </body>
</html>