<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .card{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-top: 100px; /* Added */
        width: 25rem;
        }
    .block{
        display: block;
        width: 100%;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        text-align: center;
        background-color: rgb(4, 90, 22);
        color: aqua;
        }
    </style>
</head>
<body>
<div class="container jumbotron card col-xs-12 col-sm-6  col-md-4 col-lg-3"> 
    <form action="/signup" method="POST">
        <div class="form-group">
            <label for="username" class="control-label" class="control-label">UserId/Email:</label>
            <input type="text" name="username" placeholder="userid/email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password" class="control-label" class="control-label">Password:</label>
            <input type="password" name="password" placeholder="password" class="form-control">
        </div>
        <button type="submit" class="block">Signup</button>
    </form>
    <br>
    <br>
    <div>
    <a href="/login">Already have account? Login here</a>
    </div>
</div>


</body>
</html>